
@{
    ViewData["Title"] = "GetById";
}

<h1>GetById</h1>

<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title"> name => @Model.Name </h5>
        <p class="card-text">Description => @Model.Description  </p>
        <a href="/proj" class="btn btn-primary">go to offices</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

