@model Employee
@{
    ViewData["Title"] = "Edit";
}

<h1>EditForm</h1>

<form asp-controller="get" asp-action="Edit"   method="post">
    
    <div class="mb-3">
        <label asp-for="name" class="form-label"></label>
        <input class="form-control" asp-for="name">
    </div>
    <div class="mb-3">
        <label asp-for="age"  class="form-label"></label>
        <input class="form-control" asp-for="age">
    </div>
    <div class="mb-3">
        <label asp-for="salary" class="form-label"></label>
        <input class="form-control" asp-for="salary">
    </div>
    <div class="mb-3">
        <label asp-for="password" class="form-label"></label>
        <input class="form-control" asp-for="password">
    </div>

    <div class="mb-3">
        <label asp-for="off_ID" class="form-label"></label>
        <select class="form-select" asp-for="off_ID" asp-items="ViewBag.offs">       
            <option selected>Open this select menu</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>