
@{
    ViewData["Title"] = "GetById";
}




<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title"> name=> @Model.name</h5>
        <p class="card-text">age=> @Model.age <pre/><pre/> salary=> @Model.salary$  <pre/> department:-@Model.off.Name </p>
        <a href="/get/index" class="btn btn-primary">go to employees</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

